doctrine-phpcr-odm-mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://doctrine-project.org/schemas/phpcr-odm/phpcr-mapping"
    xmlns:phpcr="http://doctrine-project.org/schemas/phpcr-odm/phpcr-mapping"
    elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation><![CDATA[
       This is the XML Schema for the object/relational
       mapping file used by the Doctrine ORM.
     ]]></xs:documentation>
  </xs:annotation>

  <xs:element name="doctrine-mapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mapped-superclass" type="phpcr:mapped-superclass" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="document" type="phpcr:document" minOccurs="0" maxOccurs="unbounded" />
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="emptyType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="cascade-type">
    <xs:sequence>
      <xs:element name="cascade-all" type="phpcr:emptyType" minOccurs="0"/>
      <xs:element name="cascade-persist" type="phpcr:emptyType" minOccurs="0"/>
      <xs:element name="cascade-merge" type="phpcr:emptyType" minOccurs="0"/>
      <xs:element name="cascade-remove" type="phpcr:emptyType" minOccurs="0"/>
      <!-- TODO: orm has no detach -->
      <xs:element name="cascade-detach" type="phpcr:emptyType" minOccurs="0"/>
      <xs:element name="cascade-refresh" type="phpcr:emptyType" minOccurs="0"/>
      <xs:element name="cascade-translation" type="phpcr:emptyType" minOccurs="0"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:simpleType name="lifecycle-callback-type">
    <xs:restriction base="xs:token">
      <xs:enumeration value="prePersist"/>
      <xs:enumeration value="postPersist"/>
      <xs:enumeration value="preUpdate"/>
      <xs:enumeration value="postUpdate"/>
      <xs:enumeration value="preRemove"/>
      <xs:enumeration value="postRemove"/>
      <xs:enumeration value="postLoad"/>
      <xs:enumeration value="preFlush"/>
      <!-- move is phpcr specific -->
      <xs:enumeration value="preMove"/>
      <xs:enumeration value="postMove"/>
      <!-- TODO orm has no onFlush, postFlush, onClear, loadClassMetadata -->
      <xs:enumeration value="onFlush"/>
      <xs:enumeration value="postFlush"/>
      <xs:enumeration value="onClear"/>
      <xs:enumeration value="loadClassMetadata"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="lifecycle-callback">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="type" type="phpcr:lifecycle-callback-type" use="required" />
    <xs:attribute name="method" type="xs:NMTOKEN" use="required" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="lifecycle-callbacks">
    <xs:sequence>
      <xs:element name="lifecycle-callback" type="phpcr:lifecycle-callback" minOccurs="1" maxOccurs="unbounded" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <!-- TODO: what is entity-listener? -->
  <xs:complexType name="entity-listener">
    <xs:sequence>
      <xs:element name="lifecycle-callback" type="phpcr:lifecycle-callback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="class" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="entity-listeners">
    <xs:sequence>
      <xs:element name="entity-listener" type="phpcr:entity-listener" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="column-result">
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="field-result">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="property" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="document-result">
    <xs:sequence>
      <xs:element name="field-result" type="phpcr:field-result" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="document-class" type="xs:string" use="required" />
  </xs:complexType>


  <xs:complexType name="phpcr-result-set-mapping">
    <xs:sequence>
      <xs:element name="entity-result" type="phpcr:document-result" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="column-result" type="phpcr:column-result" minOccurs="0" maxOccurs="unbounded" />
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phpcr-result-set-mappings">
    <xs:sequence>
      <xs:element name="phpcr-result-set-mapping" type="phpcr:phpcr-result-set-mapping" minOccurs="1" maxOccurs="unbounded" />
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="document">
    <xs:sequence>
      <xs:element name="mixin" type="phpcr:mixin" minOccurs="0" />
      <xs:element name="options" type="phpcr:options" minOccurs="0" />
      <xs:element name="lifecycle-callbacks" type="phpcr:lifecycle-callbacks" minOccurs="0" maxOccurs="1" />
      <xs:element name="entity-listeners" type="phpcr:entity-listeners" minOccurs="0" maxOccurs="1" />
      <xs:element name="id" type="phpcr:id" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="field" type="phpcr:field" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="one-to-one" type="phpcr:one-to-one" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="one-to-many" type="phpcr:one-to-many" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="many-to-one" type="phpcr:many-to-one" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="many-to-many" type="phpcr:many-to-many" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="association-overrides" type="phpcr:association-overrides" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="attribute-overrides" type="phpcr:attribute-overrides" minOccurs="0" maxOccurs="unbounded" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="translator" type="xs:NMTOKEN"/>
    <xs:attribute name="versionable" type="xs:NMTOKEN" /> <!-- TODO: false|simple|full -->
    <xs:attribute name="referenceable" type="xs:boolean" default="false" />
    <xs:attribute name="node-type" type="xs:NMTOKEN" />
    <xs:attribute name="repository-class" type="xs:string"/>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="option" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="option" type="phpcr:option"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="options">
    <xs:sequence>
      <xs:element name="option" type="phpcr:option" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="mapped-superclass" >
    <xs:complexContent>
      <xs:extension base="phpcr:document">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="versionable-type">
    <xs:restriction base="xs:token">
      <xs:enumeration value="false"/>
      <xs:enumeration value="SIMPLE"/>
      <xs:enumeration value="FULL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="generator-strategy">
    <xs:restriction base="xs:token">
      <xs:enumeration value="REPOSITORY"/>
      <xs:enumeration value="ASSIGNED"/>
      <xs:enumeration value="PARENT"/>
      <!-- custom not yet? -->
    </xs:restriction>
  </xs:simpleType>

  <!-- TODO -->
  <xs:simpleType name="fk-action">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CASCADE"/>
      <xs:enumeration value="RESTRICT"/>
      <xs:enumeration value="SET NULL"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- TODO -->
  <xs:simpleType name="fetch-type">
    <xs:restriction base="xs:token">
      <xs:enumeration value="EAGER"/>
      <xs:enumeration value="LAZY"/>
      <xs:enumeration value="EXTRA_LAZY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="field">
    <xs:sequence>
      <xs:element name="options" type="phpcr:options" minOccurs="0" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="type" type="xs:NMTOKEN" default="string" />
    <!-- TODO: id bool really? -->
    <xs:attribute name="property" type="xs:NMTOKEN" />
    <xs:attribute name="multivalue" type="xs:boolean" default="false" />
    <xs:attribute name="nullable" type="xs:boolean" default="false" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="generator">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="strategy" type="phpcr:generator-strategy" use="optional" default="AUTO" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="id">
    <xs:sequence>
      <xs:element name="generator" type="phpcr:generator" minOccurs="0" />
      <!-- TODO: do we need this custom-id-generator? -->
      <xs:element name="custom-id-generator" type="phpcr:custom-id-generator" minOccurs="0" maxOccurs="1" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="custom-id-generator">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="class" type="xs:NMTOKEN" use="required" />
  </xs:complexType>

    <xs:complexType name="node">
        <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
        <xs:anyAttribute namespace="##other"/>
    </xs:complexType>

    <xs:complexType name="nodename">
        <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
        <xs:anyAttribute namespace="##other"/>
    </xs:complexType>

    TODO: parentdocument, child, ...


    <xs:complexType name="inverse-join-columns">
    <xs:sequence>
      <xs:element name="join-column" type="phpcr:join-column" minOccurs="1" maxOccurs="unbounded" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="join-column">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="referenced-column-name" type="xs:NMTOKEN" use="optional" default="id" />
    <xs:attribute name="unique" type="xs:boolean" default="false" />
    <xs:attribute name="nullable" type="xs:boolean" default="true" />
    <xs:attribute name="on-delete" type="phpcr:fk-action" />
    <xs:attribute name="on-update" type="phpcr:fk-action" />
    <xs:attribute name="column-definition" type="xs:string" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="join-columns">
    <xs:sequence>
      <xs:element name="join-column" type="phpcr:join-column" minOccurs="1" maxOccurs="unbounded" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="join-table">
    <xs:sequence>
      <xs:element name="join-columns" type="phpcr:join-columns" />
      <xs:element name="inverse-join-columns" type="phpcr:join-columns" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="schema" type="xs:NMTOKEN" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="order-by">
      <xs:sequence>
          <xs:element name="order-by-field" type="phpcr:order-by-field" minOccurs="1" maxOccurs="unbounded" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="order-by-field">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="direction" type="phpcr:order-by-direction" default="ASC" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:simpleType name="order-by-direction">
    <xs:restriction base="xs:token">
      <xs:enumeration value="ASC"/>
      <xs:enumeration value="DESC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="many-to-many">
    <xs:sequence>
      <xs:element name="cascade" type="phpcr:cascade-type" minOccurs="0" />
      <xs:element name="join-table" type="phpcr:join-table" minOccurs="0" />
      <xs:element name="order-by" type="phpcr:order-by" minOccurs="0" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="target-entity" type="xs:string" use="required" />
    <xs:attribute name="field" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="mapped-by" type="xs:NMTOKEN" />
    <xs:attribute name="index-by" type="xs:NMTOKEN" />
    <xs:attribute name="inversed-by" type="xs:NMTOKEN" />
    <xs:attribute name="fetch" type="phpcr:fetch-type" default="LAZY" />
    <xs:attribute name="orphan-removal" type="xs:boolean" default="false" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="one-to-many">
    <xs:sequence>
      <xs:element name="cascade" type="phpcr:cascade-type" minOccurs="0" />
      <xs:element name="order-by" type="phpcr:order-by" minOccurs="0" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="target-entity" type="xs:string" use="required" />
    <xs:attribute name="mapped-by" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="field" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="index-by" type="xs:NMTOKEN" />
    <xs:attribute name="orphan-removal" type="xs:boolean" default="false" />
    <xs:attribute name="fetch" type="phpcr:fetch-type" default="LAZY" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="many-to-one">
    <xs:sequence>
      <xs:element name="cascade" type="phpcr:cascade-type" minOccurs="0" />
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="join-column" type="phpcr:join-column"/>
        <xs:element name="join-columns" type="phpcr:join-columns"/>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
      </xs:choice>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="target-entity" type="xs:string" use="required" />
    <xs:attribute name="field" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="orphan-removal" type="xs:boolean" default="false" />
    <xs:attribute name="fetch" type="phpcr:fetch-type" default="LAZY" />
    <xs:attribute name="inversed-by" type="xs:NMTOKEN" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="one-to-one">
    <xs:sequence>
      <xs:element name="cascade" type="phpcr:cascade-type" minOccurs="0" />
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="join-column" type="phpcr:join-column"/>
        <xs:element name="join-columns" type="phpcr:join-columns"/>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
      </xs:choice>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="field" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="target-entity" type="xs:string" use="required" />
    <xs:attribute name="mapped-by" type="xs:NMTOKEN" />
    <xs:attribute name="inversed-by" type="xs:NMTOKEN" />
    <xs:attribute name="orphan-removal" type="xs:boolean" default="false" />
    <xs:attribute name="fetch" type="phpcr:fetch-type" default="LAZY" />
    <xs:anyAttribute namespace="##other"/>
  </xs:complexType>

  <xs:complexType name="association-overrides">
    <xs:sequence>
      <xs:element name="association-override" type="phpcr:association-override" minOccurs="1" maxOccurs="unbounded" />
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="association-override">
    <xs:sequence>
      <xs:element name="join-table" type="phpcr:join-table" minOccurs="0" />
      <xs:element name="join-columns" type="phpcr:join-columns" minOccurs="0" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
  </xs:complexType>

  <xs:complexType name="attribute-overrides">
    <xs:sequence>
      <xs:element name="attribute-override" type="phpcr:attribute-override" minOccurs="1" maxOccurs="unbounded" />
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attribute-override">
    <xs:sequence>
      <xs:element name="field" type="phpcr:field" minOccurs="1" />
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
  </xs:complexType>

</xs:schema>
